body {
    background-image:url(GB1_3000.jpg);
    background-size:cover;
    background-repeat:none;
    background-size:100%;
    background-color:rgb(0,0,0,1);
}

header {
    height:23vw;
}

/* This is the NAV section */
.logob {
    font-weight:bold;
    text-decoration:none;
    font-size:20vw;
    text-shadow:.20vw .20vw#440000;
}
#logob {
    background-color:rgb(0, 0, 0, .1);
    border-radius: 2vw;
}
#logob:hover {
    background-color:rgb(233, 162, 0, .5);
}

#index {
    color:rgb(255, 215, 0, .95);
}
#index:hover {
    color:#7F0000;
    text-shadow:-.18vw -.18vw #E9A200;
}

#photos, #about, #contact {
    font-size:3vw;
}
#n1:hover, #n2:hover, #n3:hover {
    background-color:rgb(233, 162, 0, .5);
    color:#7F0000;
    text-shadow:-.1vw -.1vw#E9A200;
}
#n1, #n2, #n3 {
    height:4vw;
    padding:1vw;
    background-color:rgb(0, 0, 0, .1);
    border-radius: 2vw;
}

.navlink {
    color:#FBDD00;
    text-decoration:none;
    text-shadow:.1vw .1vw black;

}

/* End NAV section */



h1 {
    color:#FBDD00;
    text-shadow:.15vw .15vw #440000;
    font-size: 5vw;
    text-align: center;
    
}
.h2gb {
    color:#FBDD00;
    text-shadow:.1vw .1vw #440000;
    font-size: 4vw;
    text-align:center
}
.h2ph {
    color:#FBDD00;
    text-shadow:.1vw .1vw black;
    font-size: 4vw;
    text-align:center
}
.h2gmail {
    color:yellow;
    text-shadow:.1vw .1vw black;
    font-size: 3vw;
    text-align:center
}
.p1 {
    color:yellow;
    font-size:2vw;
    text-align:center;
    }
.p1b1 {
    width: 85%;
    background-color:rgb(0, 0, 0, .7);
    border-radius: 2vw;
}

.h1b1 {
    width: 70%;
    background-color:rgb(0, 0, 0, .1);
    border-radius: 2vw;
}
.h2b2 {
    width: 25%;
    background-color:rgb(0, 0, 0, .1);
    border-radius: 2vw;
}
.h2b3 {
    width: 45%;
    background-color:rgb(0, 0, 0, .5);
    border-radius: 2vw;
}


.grid, .bpllc, .gordonbash, .photos, .email, .aboutbpllc {
    display:flex; */
    flex-wrap:wrap;
    justify-content:space-around;
    /* align-items:stretch; */
    /* align-content:space-around; */
}
